# SPDX-License-Identifier: Apache-2.0
#
# Note: in HW model v2, CONFIG_BOARD_<NAME> and CONFIG_SOC_* are auto-set
# from board.yml. Only put board-level driver/feature defaults here.

# Always-on board basics
CONFIG_GPIO=y
CONFIG_BUILD_OUTPUT_HEX=y
CONFIG_USE_DT_CODE_PARTITION=y

# Use Y1 (32.768 kHz external XTAL on PCB) for LFCLK
CONFIG_CLOCK_CONTROL_NRF=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_20PPM=y
